$TTL 1D
@   IN SOA  ns1.example.com   root.ns1.example.com. (
                                        2017031502      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum

@       IN      NS      ns1.example.com.
151              IN      PTR     raspbery1-wifi.example.com.
152              IN      PTR     raspbery2-wifi.example.com.
153              IN      PTR     raspbery3-wifi.example.com.
